<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<div class="d-flex">
  <div
    class="sidebar bg-dark text-white p-3"
    style="width: 250px; height: 100vh"
  >
    <img src="/assets/logo.png" height="60px" />

    <h6 class="text-uppercase">Stock Management System</h6>
    <hr />
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" href="home">หน้าแรก</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">การจัดการข้อมูลสมาชิก</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-white"
          data-bs-toggle="dropdown"
        >
          การจัดการสินค้า
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="dashboard">- คลังสินค้า</a></li>
          <li><a class="dropdown-item" href="#">- ประเภทสินค้า</a></li>
          <li><a class="dropdown-item" href="#">- เพิ่มสินค้า</a></li>
          <li><a class="dropdown-item" href="#">- รายงานคลังสินค้า</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="#">รายงานการสั่งซื้อ</a>
      </li>
      <hr />
      <li>
        <a type="button" href="#" class="btn btn-danger"> ออกจากระบบ </a>
      </li>
    </ul>
  </div>

  <div class="content w-100 position-relative">
    <div class="overlay text-center text-white">
      <div><h1 class="display-4">ระบบการจัดการคลังสินค้า</h1></div>
      <div><h3>Stock Management System</h3></div>
    </div>
  </div>
</div>
