.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/bg-warehouse.png') no-repeat center center fixed;
    background-size: cover;
  }
  
  .login-box {
    padding: 2rem;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    width: 400px;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }